<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: lightgreen;
}

h1 {
  color: Red;
  text-align: center;
}

p {
  font-family: Sans-serif;
  font-size: 20px;
}

h2 {
  color: blue;
  text-align: center;


p {
  font-family: Serif;
  font-size: 20px;

h3 {
  color: Yellow;
  text-align: center;

p {
  font-family: Sans-Serif;
  font-size: 20px;


</style>
</head>
<body>

<h1>Scott Pilgrim vs the world</h1>
<p>"Scott Pilgrim is dating a highschooler" A toronto Bassists falls in love with this badass american chick and he must defeat her 7 evil exes
</p>

<h2> Main Character </h2>
<p> Scott Pilgrim, Ramona flowers, Kim Pines, Stephen Stills, Young Neil, Knives chau, the 7 evil exes, and Gideon Graves
</p>

</body>
</html>
