<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: lightblue;
}

h1 {
  color: Red;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
</style>
</head>
<body>

<h1>Scott Pilgrim vs the world</h1>
<p>This is a paragraph.</p>

h2 {
  color: lightblue;
  text-align: center;

<h2> Main Character </h2>

</body>
</html>
