<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: lightgreen;
}

h1 {
  color: Red;
  text-align: center;
}

p {
  font-family: Sans-serif;
  font-size: 20px;
}

h2 {
  color: blue;
  text-align: center;
}


p {
  font-family: Serif;
  font-size: 20px;



</style>
</head>
<body>

<h1>Scott Pilgrim vs the world</h1>
<p>"Scott Pilgrim is dating a highschooler" A toronto Bassists falls in love with this badass american chick and he must defeat her 7 evil exes
</p>

<h2> Main Character </h2>
<p> Scott Pilgrim, Ramona flowers, Kim Pines, Stephen Stills, Young Neil, Knives chau, the 7 evil exes, and Gideon Graves
</p>

<h3> Date movie released </h3>
<p> The film premiered after a panel discussion at the San Diego Comic-Con International on July 22, 2010, and was widely released in North America on August 13, 2010. Scott Pilgrim vs. the World was re-released for its 10th anniversary in the United Kingdom on August 21, 2020, and the United States on April 30, 2021. </p>
</body>
</html>
